/* <footer> */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 80px;
}
footer h2 img{
  width: 120px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--bold);
  font-size: 0.8rem;
  color: #afaeae;
  /* opacity: 0.5; */
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--bold);
  font-size: 0.8rem;
  color: #afaeae;
  /* opacity: 0.5; */
  margin-top: 10px;
}

footer a img {
  width: 80px;
  margin-left: 5px;
  margin-bottom: 4px;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
  }
  footer p {
    width: 100%;
    max-width: 250px;
    padding: 15px 0 0 0;
    line-height: 1.5;
  }
}
